div#component-listOfPlaylistItemType{
  height: 100%;
  background: green;

  & > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      & > a {

        & > span {
          color: blue;

          &:last-child {
            color: gray;
          }
        }
      }

        & > button {
          width: 100%;
        }
    }
  }

  & > div.component-listOfPlaylistItemType-editor{
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}
