table.top-list_manager {
  width: 100%;

  button.button_add {
    margin-top: 20px;
    padding-top: 5px;
    height: 64px;
    width: 64px;
    color: green;
    text-align: center;
    border: none;
    border-radius: 50%;
    background: no-repeat;
    font-size: 40px;
    font-weight: bold;
  }
}
