div.base-component_volume-control {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > button {
    margin: 0 10px;
    height: 65px;
    width: 60px;
    padding-bottom: 5px;
    font-size: 25px;
    color: #de6ac2;
    border: 0;
    background: none;
    overflow: hidden;
    transition: width 1s;
    div.base-component_volume-control_icon-hider {
      overflow: hidden;
      margin: 0 auto;
      height: 25px;
      border-radius: 0 50% 50% 0;
    }
  }

  div.base-component_volume-control_control-container {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: 75px;
    height: 0;
    margin-top: -20px;
    padding: 14px 0 50px;
    transition: 1.1s;

    div.base-component_volume-control_line {
      background-color: purple;
      height: 100%;
      width: 2px;
      margin: 0 auto;
    }
    div.base-component_volume-control_handle {
      position: relative;
      width: 22px;
      height: 22px;
      padding: 18px;
      top: -36px;
      transition: top 1.3s;

      div.base-component_volume-control_handle_button {
        //   margin: 0 auto;
        margin-top: -10px;
        border: 11px solid transparent;
        border-bottom-color: #53ba88;
        // position: relative;
        // left: 29px;
        transition: top 1.3s;

        &:after {
          content: '';
          margin-top: -10px;
          width: 0;
          height: 0;
          position: absolute;
          left: 18px;
          top: 43px;
          border: 11px solid transparent;
          border-top-color: #53ba88;
        }
      }
    }
    button.base-component_volume-control_handle_button_muter {
      // position: fixed;
      margin: 110px -20px;
      height: 40px;
      width: 40px;
      color: purple;
      background: none;
      border: 0;
      font-size: 20px;
    }
  }
}
