@import "../../conf.scss";

header#main-header {
	position: fixed;
	z-index: 1;
	width: 100%;
	top: -80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 7px 0px;
	background: rgb(0, 0, 0);
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 0.4)),
		color-stop(20%, rgba(0, 0, 0, 0.4)),
		color-stop(95%, rgba(0, 0, 0, 0))
	);
	background: -o-linear-gradient(
		top,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.4) 20%,
		rgba(0, 0, 0, 0) 95%
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.4) 20%,
		rgba(0, 0, 0, 0) 95%
	);

	-webkit-transition: 1s;

	-o-transition: 1s;

	transition: 1s;

	h5 {
		font-size: 20px;
		margin: 7px auto;
		color: white;
		flex-grow: 1;
		text-align: center;
	}

	& > button {
		margin: 0 10px;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		font-size: 25px;
		color: $buttons-color;
		border: 0;
		background: none;
	}
}
