@import "../../conf.scss";

footer#main-footer{
	display: flex;
	justify-content: space-between;
	background: $footer-color;
	padding: 3px 1px;

	& > button {
		height: 50px;
		width: 100px;
		font-size: 18px
	}
}