@import "../../conf.scss";

footer#main-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// background: $footer-color;
	padding: 3px 1px;
	position: fixed;
	width: 100%;
	bottom: -108px;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.4) 20%,
		rgba(0, 0, 0, 0) 95%
	);

	transition: 1s;

	& > div.main-footer__progress-liner {
		position: relative;
		height: 5px;
		width: 100%;

		& > span {
			position: absolute;
			bottom: 2px;
			color: gray;
			font-size: 27px;
			white-space: nowrap;

			animation-duration: 20s;
			animation-name: slidein;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-delay: 2s;
		}

		& > button {
			position: absolute;
			bottom: 0;
			padding: 0;
			height: 49px;
			border: 0;
			border-radius: 50%;
			font-size: 36px;
			background: none;
			color: blueviolet;
		}

		& > div {
			height: 3px;
			background: lightblue;
		}
	}
	& > div.main-footer__control-buttons {
		display: flex;
		justify-content: space-between;
		// background: $footer-color;
		padding: 5px 0;

		& > button {
			height: 50px;
			width: 100%;
			font-size: 25px;
			border: 0;
			background: none;
			color: $buttons-color;
		}
	}
}
