div.base-component_player {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation-duration: 4s;
  animation-name: slideBlur;

  div.main-footer_yout-shield {
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  & > h2 {
    text-align: center;
  }
  & > div.base-component_player__album-image {
    width: 100%;

    & > img {
      width: 100%;
    }
  }
}
