div.base-component_player {
	& > h2 {
		text-align: center;
	}
	& > div.base-component_player__album-image {
		width: 100%;

		& > img {
			width: 100%;
		}
	}
	& > div.base-component_player__buttons-block{
		display: flex;
		justify-content: space-between;
		margin-top: 5px;

		&>button{
			padding: 10px 35px;
			font-size: 20px;
		}
	}
}
