body {
	margin: 0;
	padding: 0;
	font-family: "Oswald", sans-serif;
}
main#main {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// position: relative;
	height: 100vh;
	font-family: "Oswald", sans-serif;

	& > section {
		position: absolute;
		z-index: 10;
		height: 100%;
		width: 100%;
		background: white;
		transition: 1s;
	}

	.settings-playlist_header {
		height: 74px;
		display: flex;
		align-items: center;

		& > button {
			height: 100%;
			border: 0;
			width: 74px;
			border-radius: 50%;
			background: none;
		}
		& > div {
			flex-grow: 1;
		}
		& > p {
			color: black;
			font-size: 20px;
			width: 100%;
			text-align: center;
			margin: 0;
			z-index: -1;
			position: absolute;
		}
	}

	& > main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		overflow: hidden;
		position: relative;

		& > span {
			position: absolute;
			top: 85px;
			font-size: 53px;
			font-weight: bold;
			color: lightpink;
			font-family: "Raleway Dots", cursive;
		}

		& > img {
			width: 100%;
			max-height: 100%;
		}
		& > div {
			position: absolute;
			bottom: -3px;
			color: lightgray;

			& > span {
				position: initial;
				bottom: 0;
				font-size: 27px;
				white-space: nowrap;

				animation-duration: 20s;
				animation-name: slidein;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-delay: 2s;
			}
		}
	}
}

@keyframes slidein {
	from {
		margin-left: 100%;
		// width: 300%;
	}

	to {
		margin-left: -100%;
		// width: 100%;
	}
}

.bla {
	color: green;
}
