section#main-settings {
	padding: 20px;
	display: flex;
	flex-direction: column;

	& > label {
		padding: 5px 0;
	}
	& > div {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		width: 100%;

		& > button {
			height: 40px;
			width: 47%;
			border-radius: 5px;
		}
	}
}
